/* This file imports all your scss partials to be compiled in one stylesheet, 
which you can attach to your html. 
All the files that are prefixed with an underscore
"_name-of-file.scss" are called partials - meaning that
their css isn't compiled unless its imported into an unprefixed .scss file */
/* are placeholders for storing information that you want to reuse throughout your styles.
 You can store things like colors, font-stacks, or any css value you think
 you might want to reuse.
 SCSS uses the '$' symbol to declare variables. */
/* line 3, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  transition: all 0.2s ease-in-out; }

/* line 13, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 17, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  background-image: url(../../images/concrete_wall.png);
  font-family: 'Amatic SC', cursive; }

/* line 27, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
h1 {
  font-family: 'Cabin Sketch', cursive;
  font-size: 4rem;
  font-weight: 700;
  margin-top: -1rem;
  margin-bottom: -2rem;
  color: #fff; }

/* line 36, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
h2 {
  font-size: 2.25rem;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 3rem;
  color: #CBE0E3; }

/* line 44, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
p {
  font-size: 1.75rem;
  font-weight: 300;
  margin-top: 6rem;
  color: #B3D4B5; }

/* line 51, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
a {
  text-decoration: none; }

/* line 55, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.vacations {
  text-align: center; }

/* line 59, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.box {
  color: #D9732B;
  font-size: 8rem; }

/* line 64, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.box-2 {
  color: #619FA8;
  font-size: 8rem; }

/* line 69, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.box-3 {
  color: #2F56A6;
  font-size: 8rem; }

/* line 74, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.india {
  width: 100%; }

/* line 78, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.caribe {
  width: 100%; }

/* line 82, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.england {
  width: 100%; }

@media only screen and (min-width: 40em) {
  /* line 88, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
  h1 {
    font-size: 6rem; }

  /* line 92, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
  .india {
    width: 30%;
    display: inline-block; }

  /* line 97, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
  .caribe {
    width: 30%;
    display: inline-block; }

  /* line 102, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
  .england {
    width: 30%;
    display: inline-block; }
 }

/*
==============================================
TRANSITIONS
==============================================
*/
/* line 116, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.box {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  transition: color 1s ease-out;
  transition: all 0.3s ease-in; }

/* line 129, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.box:hover {
  color: #D9854D;
  cursor: pointer;
  -webkit-stroke-width: 3px;
  -webkit-stroke-color: #FFFFFF;
  -webkit-fill-color: #FFFFFF;
  text-shadow: 1px 0px 10px yellow; }

/* line 138, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.box-2 {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  transition: color 1s ease-out;
  transition: all 0.3s ease-in; }

/* line 151, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.box-2:hover {
  color: #A0C9D9;
  cursor: pointer;
  -webkit-stroke-width: 3px;
  -webkit-stroke-color: #fff;
  -webkit-fill-color: #fff;
  text-shadow: 1px 0px 10px #CBD3F1; }

/* line 160, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.box-3 {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  transition: color 1s ease-out;
  transition: all 0.3s ease-in; }

/* line 173, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.box-3:hover {
  color: #506CA6;
  cursor: pointer;
  -webkit-stroke-width: 3px;
  -webkit-stroke-color: #fff;
  -webkit-fill-color: #fff;
  text-shadow: 1px 0px 10px #DE0508; }

/* line 183, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.slideDown {
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

@keyframes slideDown {
  /* line 197, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }

  /* line 200, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
  50% {
    -webkit-transform: translateY(8%);
            transform: translateY(8%); }

  /* line 203, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
  65% {
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%); }

  /* line 206, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
  80% {
    -webkit-transform: translateY(4%);
            transform: translateY(4%); }

  /* line 209, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
  95% {
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%); }

  /* line 212, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%); } }

@-webkit-keyframes slideDown {
  /* line 218, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
  0% {
    -webkit-transform: translateY(-100%); }

  /* line 221, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
  50% {
    -webkit-transform: translateY(8%); }

  /* line 224, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
  65% {
    -webkit-transform: translateY(-4%); }

  /* line 227, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
  80% {
    -webkit-transform: translateY(4%); }

  /* line 230, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
  95% {
    -webkit-transform: translateY(-2%); }

  /* line 233, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
  100% {
    -webkit-transform: translateY(0%); } }

/* line 239, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.5s; }

/* line 254, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.hvr-bounce-in:active, .hvr-bounce-in:focus, .hvr-bounce-in:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
      transform: scale(1.2);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36); }

/*
==============================================
FONTS
==============================================
*/
@font-face {
  font-family: 'custom-fonts';
  src: url('../fonts/custom-fonts.eot?16999607');
  src: url('../fonts/custom-fonts.eot?16999607#iefix') format('embedded-opentype'), url('../fonts/custom-fonts.woff?16999607') format('woff'), url('../fonts/custom-fonts.ttf?16999607') format('truetype'), url('../fonts/custom-fonts.svg?16999607#fontello') format('svg');
  font-weight: normal;
  font-style: normal; }

/* line 278, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "custom-fonts";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em; }

/* line 294, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.icon-caribe:before {
  content: '\e800'; }

/* '' */
/* line 295, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.icon-england:before {
  content: '\e801'; }

/* '' */
/* line 296, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.icon-india:before {
  content: '\e802'; }

/* '' */