/* This file imports all your scss partials to be compiled in one stylesheet, 
which you can attach to your html. 
All the files that are prefixed with an underscore
"_name-of-file.scss" are called partials - meaning that
their css isn't compiled unless its imported into an unprefixed .scss file */
/* are placeholders for storing information that you want to reuse throughout your styles.
 You can store things like colors, font-stacks, or any css value you think
 you might want to reuse.
 SCSS uses the '$' symbol to declare variables. */
/* line 3, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

/* line 12, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 16, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  background-image: url(../../images/concrete_wall.png);
  font-family: 'Amatic SC', cursive; }

/* line 26, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
h1 {
  font-family: 'Cabin Sketch', cursive;
  font-size: 4rem;
  font-weight: 700;
  margin-top: -1rem;
  margin-bottom: -2rem;
  color: #fff; }

/* line 35, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
h2 {
  font-size: 2.25rem;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 3rem;
  color: #CBE0E3; }

/* line 43, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
p {
  font-size: 1.75rem;
  font-weight: 300;
  margin-top: 6rem;
  color: #B3D4B5; }

/* line 50, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
a {
  text-decoration: none; }

/* line 54, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.vacations {
  text-align: center; }

/* line 58, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.box {
  color: #D9732B; }

/* line 63, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.box-2 {
  color: #619FA8; }

/* line 67, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.box-3 {
  color: #2F56A6; }

/* line 71, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.icon-india {
  font-size: 8rem; }

/* line 75, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.icon-caribe {
  font-size: 8rem; }

/* line 79, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.icon-england {
  font-size: 8rem; }

/* line 83, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.india {
  width: 100%; }

/* line 87, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.caribe {
  width: 100%; }

/* line 91, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.england {
  width: 100%; }

@media only screen and (min-width: 40em) {
  /* line 97, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
  h1 {
    font-size: 6rem; }

  /* line 101, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
  .india {
    width: 30%;
    display: inline-block; }

  /* line 106, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
  .caribe {
    width: 30%;
    display: inline-block; }

  /* line 111, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
  .england {
    width: 30%;
    display: inline-block; }
 }

/* line 121, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.primary-btn {
  background-color: #D9732B;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 3px;
  margin: 1em;
  display: inline-block;
  text-decoration: none;
  transition: all 150ms ease-in-out; }
  /* line 13, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/mixins */
  .primary-btn:hover {
    background-color: #2980b9; }

/* line 125, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.secondary-btn {
  background-color: #333;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 3px;
  margin: 1em;
  display: inline-block;
  text-decoration: none;
  transition: all 150ms ease-in-out; }
  /* line 13, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/mixins */
  .secondary-btn:hover {
    background-color: #666; }

/* line 129, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.border, ul {
  border: 1px solid #ccc; }
  /* line 132, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
  .border p, ul p {
    color: red; }

/*
==============================================
TRANSITIONS
==============================================
*/
/* line 147, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.box {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  transition: color 1s ease-out;
  transition: all 0.3s ease-in; }

/* line 160, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.box:hover {
  color: #D9854D;
  cursor: pointer;
  -webkit-stroke-width: 3px;
  -webkit-stroke-color: #FFFFFF;
  -webkit-fill-color: #FFFFFF;
  text-shadow: 1px 0px 10px yellow; }

/* line 169, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.box-2 {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  transition: color 1s ease-out;
  transition: all 0.3s ease-in; }

/* line 182, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.box-2:hover {
  color: #A0C9D9;
  cursor: pointer;
  -webkit-stroke-width: 3px;
  -webkit-stroke-color: #FFFFFF;
  -webkit-fill-color: #FFFFFF;
  text-shadow: 1px 0px 10px #CBD3F1; }

/* line 191, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.box-3 {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  transition: color 1s ease-out;
  transition: all 0.3s ease-in; }

/* line 204, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.box-3:hover {
  color: #506CA6;
  cursor: pointer;
  -webkit-stroke-width: 3px;
  -webkit-stroke-color: #FFFFFF;
  -webkit-fill-color: #FFFFFF;
  text-shadow: 1px 0px 10px #DE0508; }

/* line 214, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.slideDown {
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

@keyframes slideDown {
  /* line 228, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }

  /* line 231, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
  50% {
    -webkit-transform: translateY(8%);
            transform: translateY(8%); }

  /* line 234, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
  65% {
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%); }

  /* line 237, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
  80% {
    -webkit-transform: translateY(4%);
            transform: translateY(4%); }

  /* line 240, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
  95% {
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%); }

  /* line 243, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%); } }

@-webkit-keyframes slideDown {
  /* line 249, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
  0% {
    -webkit-transform: translateY(-100%); }

  /* line 252, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
  50% {
    -webkit-transform: translateY(8%); }

  /* line 255, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
  65% {
    -webkit-transform: translateY(-4%); }

  /* line 258, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
  80% {
    -webkit-transform: translateY(4%); }

  /* line 261, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
  95% {
    -webkit-transform: translateY(-2%); }

  /* line 264, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
  100% {
    -webkit-transform: translateY(0%); } }

/* line 270, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.5s; }

/* line 285, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.hvr-bounce-in:active, .hvr-bounce-in:focus, .hvr-bounce-in:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
      transform: scale(1.2);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36); }

/*
==============================================
FONTS
==============================================
*/
@font-face {
  font-family: 'custom-fonts';
  src: url('../fonts/custom-fonts.eot?16999607');
  src: url('../fonts/custom-fonts.eot?16999607#iefix') format('embedded-opentype'), url('../fonts/custom-fonts.woff?16999607') format('woff'), url('../fonts/custom-fonts.ttf?16999607') format('truetype'), url('../fonts/custom-fonts.svg?16999607#fontello') format('svg');
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?16999607#fontello') format('svg');
  }
}
*/
/* line 319, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "custom-fonts";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

/* line 350, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.icon-caribe:before {
  content: '\e800'; }

/* '' */
/* line 351, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.icon-england:before {
  content: '\e801'; }

/* '' */
/* line 352, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-2-scss/scss/components/main */
.icon-india:before {
  content: '\e802'; }

/* '' */