// Variables
 /* are placeholders for storing information that you want to reuse throughout your styles.
 You can store things like colors, font-stacks, or any css value you think
 you might want to reuse.
 SCSS uses the '$' symbol to declare variables. */


//Colors
 $title: #fff;
 $icon-india: #D9732B;
 $icon-caribe: #619FA8;
 $icon-england: #2F56A6;
 
 //Icon-size
 $icon-size: 8rem;
 
 // Font Stacks
 $amatic: 'Amatic SC', cursive;
 $sketch: 'Cabin Sketch', cursive;
