// Main

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body{
	margin: 0;
	padding: 0;
	width: 100%;
	text-align:center;
	background-image: url(../../images/concrete_wall.png);
	font-family: $amatic;
}


h1{
	font-family: $sketch;
	font-size:4rem;
	font-weight:700;
	margin-top: -1rem;
	margin-bottom: -2rem;
	color:#FFFFFF;
}

h2{
	font-size:2.25rem;
	font-weight:400;
	text-transform: uppercase;
	padding-top: 3rem;
	color:#CBE0E3;
}

p{
	font-size:1.75rem;
	font-weight:300;
	margin-top: 6rem;
	color:#B3D4B5;
}

a {
	text-decoration: none;
}


.vacations{
	text-align:center;
}

.icon-india{
	font-size: 4rem;
	$india;
}

.icon-caribe{
	font-size: 4rem;
	$caribe;
}

.icon-england{
	font-size: 4rem;
	$england;
}

.india{
	width: 100%;
	display:inline-block;
}

.caribe{
	width: 100%;
	display:inline-block;
}

.england{
	width: 100%;
	display:inline-block;
}




.primary-btn{
	@include button($primary, $primary-dark, #fff);
}

.secondary-btn{
	@include button($secondary, #666, #fff);
}

.border{
	border: 1px solid #ccc;
	//you can nest elements/selectors to target them more specifically
	p{
		color: red;
	}
}

ul{
	@extend .border;
}



/*================ FONTS ===============================*/

@font-face {
  font-family: 'custom-fonts';
  src: url('../fonts/custom-fonts.eot?16999607');
  src: url('../fonts/custom-fonts.eot?16999607#iefix') format('embedded-opentype'),
       url('../fonts/custom-fonts.woff?16999607') format('woff'),
       url('../fonts/custom-fonts.ttf?16999607') format('truetype'),
       url('../fonts/custom-fonts.svg?16999607#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?16999607#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "custom-fonts";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-caribe:before { content: '\e800'; } /* '' */
.icon-england:before { content: '\e801'; } /* '' */
.icon-india:before { content: '\e802'; } /* '' */
