// Main

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	@include ease(all, 0.2s, ease-in-out);
}

*, *:before, *:after {
	box-sizing: inherit;
}

body{
	margin: 0;
	padding: 0;
	width: 100%;
	text-align:center;
	background-image: url(../../images/concrete_wall.png);
	font-family: $amatic;
}


h1{
	font-family: $sketch;
	font-size:4rem;
	font-weight:700;
	margin-top: -1rem;
	margin-bottom: -2rem;
	color: $title;
}

h2{
	font-size:2.25rem;
	font-weight:400;
	text-transform: uppercase;
	padding-top: 3rem;
	color:#CBE0E3;
}

p{
	font-size:1.75rem;
	font-weight:300;
	margin-top: 6rem;
	color:#B3D4B5;
}

a {
	text-decoration: none;
}

.vacations{
	text-align:center;
}

.box{
	color: $icon-india;
	font-size: $icon-size;
}

.box-2{
	color: $icon-caribe;
	font-size: $icon-size;
}

.box-3{
	color: $icon-england;
	font-size: $icon-size;
}

.india{
	width: $icon-width1;
}

.caribe{
	width: $icon-width1;
}

.england{
	width: $icon-width1;
}

@media only screen and (min-width:40em) {

h1{
	font-size:6rem;
}

.india{
	width: $icon-width2;
	display: $inline;
}

.caribe{
	width: $icon-width2;
	display: $inline;
}

.england{
	width: $icon-width2;
	display: $inline;
}
	
}


/*
==============================================
TRANSITIONS
==============================================
*/

.box {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
  transition: all 0.3s ease-in;
}

.box:hover {
  color: #D9854D;
  cursor: pointer;
  -webkit-stroke-width: 3px;
  -webkit-stroke-color: #FFFFFF;
  -webkit-fill-color: #FFFFFF;
  text-shadow: 1px 0px 10px yellow;
}

.box-2 {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
  transition: all 0.3s ease-in;
}

.box-2:hover {
  color: #A0C9D9;
  cursor: pointer;
  -webkit-stroke-width: 3px;
  -webkit-stroke-color: $white;
  -webkit-fill-color: $white;
  text-shadow: 1px 0px 10px #CBD3F1;
}

.box-3 {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
  transition: all 0.3s ease-in;
}

.box-3:hover {
  color: #506CA6;
  cursor: pointer;
  -webkit-stroke-width: 3px;
  -webkit-stroke-color: $white;
  -webkit-fill-color: $white;
  text-shadow: 1px 0px 10px #DE0508;
}


.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}			
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}


.hvr-bounce-in{
	display:inline-block;
	vertical-align:middle;
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
	box-shadow:0 0 1px rgba(0,0,0,0);
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	-moz-osx-font-smoothing:grayscale;
	-webkit-transition-duration:.5s;
	transition-duration:.5s;
	}
	
.hvr-bounce-in:active,
.hvr-bounce-in:focus,
.hvr-bounce-in:hover{
	-webkit-transform:scale(1.2);
	transform:scale(1.2);
	-webkit-transition-timing-function:cubic-bezier(0.47,2.02,.31,-.36);
	transition-timing-function:cubic-bezier(0.47,2.02,.31,-.36)
}

/*
==============================================
FONTS
==============================================
*/

@font-face {
  font-family: 'custom-fonts';
  src: url('../fonts/custom-fonts.eot?16999607');
  src: url('../fonts/custom-fonts.eot?16999607#iefix') format('embedded-opentype'),
       url('../fonts/custom-fonts.woff?16999607') format('woff'),
       url('../fonts/custom-fonts.ttf?16999607') format('truetype'),
       url('../fonts/custom-fonts.svg?16999607#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "custom-fonts";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}

.icon-caribe:before { content: '\e800'; } /* '' */
.icon-england:before { content: '\e801'; } /* '' */
.icon-india:before { content: '\e802'; } /* '' */
